h1
{
	margin:							0px 0px 0px 0px;
	padding:						0px 0px 0px 0px;
}

div.forum
{
	margin:							0px 50px 0px 50px;
	padding:						0px 0px 0px 0px;

	min-width:						400px;
	max-width:						100%;

	background-color:				#000000;
	color:							#FFFFFF;
}

div.section
{
	padding:						0px 0px 0px 0px;
	margin:							0px 0px 10px 0px;
	min-width:						100%;
	max-width:						100%;
}

.section h1
{
	border:							2px solid transparent;
	border-radius:					5px 5px 0px 0px;

	background-color:				#333333;
	color:							#FFFF00;

	font-size:						18pt;
}

div.subsection
{

}

.subsection h1
{
	border-radius:					0px 0px 0px 0px;

	background-color:				#222222;
	color:							#FFFFFF;

	font-size:						14pt;
}

div.topic
{

}

div.entry
{

}