/*

Element
{
	//position
	position:
	bottom:
	left:
	right:
	top:

	//organization
	margin:
	padding:

	//size
	max-height:
	min-height:
	height:
	max-width:
	min-width:
	width:

	//layout
	display:
	float:
	overflow:
	cellpadding:
	cell-spacing

	//visibility
	z-index:
    visibility:
    opacity:

	//text
	font-family:
	font-size:
	text-align:
	text-decoration:

	//color
	border:
	color:
	background:

	//animation

	//transition
}

*/

html
{
	color:							#FFFFFF;
	font-family:					Verdana, Geneva, sans-serif;
	font-size:						12pt;
	background-color: 				#000000;
}

body
{
	margin:							50px 0px 0px 0px;
	padding:						0px 0px 0px 0px;
}

h1
{
	font-size:						18pt;
}

h2
{
	font-size:						16pt;
}

h3
{
	font-size:						14pt;
}

p
{
	font-size:						12pt;
}

a, a:visited
{
	text-decoration:				none;

	color:							#FFFFFFF;
}

a:hover
{
	text-decoration:				underline;
}

table
{
	margin:							auto;

	width:							100%;

	cell-spacing:					0;
	cellpadding:					0;

	border:							none;
}

tr
{

}

th
{
	font-size:						14pt;
	font-weight:					bold;
}

td
{

}

/**
 * Special elements
 */

div.navbar
{
	position: 						absolute;
	left:							0px;
	top:							0px;

	margin:							0px 0px 0px 0px;
	padding:						0px 0px 0px 0px;

	max-height:						48px;
	min-height:						48px;
	height:							48px;
	max-width:						100%;
	min-width:						100%;
	width:							100%;

	text-align:						center;

	border-bottom:					2px solid #444444;
	background-color:				#333333;
}

/**
 * Top level navbar
 */
.navbar ol
{
    margin:							auto;
    padding:						0px 0px 0px 0px;

    max-height:						49px;
	min-height:						49px;
	height:							49px;
    max-width:						50%;
	min-width:						600px;
	width:							50%;

    list-style:						none;
    text-align: 					center;
}

/**
 * Top level navigation elements
 */
.navbar ol > li
{
	margin:							0px 0px 0px -1px;
    padding:						0px 0px 0px 0px;

	max-height:						48px;
	min-height:						48px;
	height:							48px;
	max-width:						auto;
	min-width:						auto;
	width:							auto;

    display: 						inline-block;
}

.navbar ol > li:hover
{

}

.navbar ol > li:hover ol
{
	max-width:						auto;
	min-width:						auto;
	width:							auto;

    visibility:						visible;
    opacity:						1;

}

/**
 * Top level links
 */
.navbar ol > li a
{
    margin:							0px 0px 0px 0px;
    padding:						0px 50px 0px 50px;

    display:						block;
    line-height:					48px;
    text-align:						left;
    border-left:					1px solid #595959;
    border-right:					1px solid #595959;
    border-bottom:					2px solid transparent;
    color:							#FFFFFF;

    transition:						all 200ms;
}

.navbar ol > li a:hover
{
	padding: 						0px 50px 0px 50px;
    border-bottom:					2px solid #FFFF00;
	background-color:				#555555;
}

/**
 * Sub level navbar
 */
.navbar li ol
{
    position:						absolute;
    top:							50px;

	margin:							0px 0px 0px 0px;
    padding:						0px 0px 0px 0px;

   	max-width:						auto;
	min-width:						auto;
	width:							auto;

    z-index:						1;
    visibility:						hidden;
    opacity:						0;

    -webkit-transition:				200ms ease;
    -moz-transition:				200ms ease;
    -o-transition:					200ms ease;
    transition:						200ms ease;
}

/**
 * Sub level navbar elements
 */


/**
 * Sub level links
 */
.navbar li ol a
{
	padding:						0px 50px 0px 25px;

	text-align:						left;

	border-left:					2px solid #595959;
	background-color:				#444444;
}

.navbar li ol a:hover
{
	padding:						0px 25px 0px 50px;

	border-left:					2px solid #FFFF00;
	border-bottom:					2px solid transparent;
	background-color:				#555555;
}

#navbar-icon-left
{
	position: 						absolute;
	left:							0px;
	top:							0px;

	width:							auto;

	display:						inline-block;
}

#navbar-icon-right
{
	position: 						fixed;
	right:							0px;
	top:							0px;

	width:							auto;

	display:						inline-block;
}

/**
 * Main page elements
 */

div.page
{
	margin:							0px 0px 0px 0px;
	padding:						0px 0px 0px 0px;

	max-width:						100%;
	min-width:						100%;
	width:							100%;

	overflow:						auto;
}

div.grid
{
	margin:							0px 0px 0px 0px;
	padding:						0px 0px 0px 0px;

	max-width:						100%;
	min-width:						100%;
	width:							100%;

	display:						inline-block;
}

/* x * y*/
div.grid-box-1xn
{

}

div.grid-box-1x1
{

}

/* x * y */
div.grid-box-nx1
{
	margin:							0px 0px 0px 0px;
	padding:						0px 0px 0px 0px;

	max-width:						100%;
	min-width:						100%;
	width:							100%;
}

div.grid-box-nxn
{
	margin:							0px 0px 0px 0px;
	padding:						0px 0px 0px 0px;

	max-width:						100%;
	min-width:						100%;
	width:							100%;

	max-height:						auto;
	min-height:						100%;
	width:							auto;
}

/**
 * Attribute classes
 */

div.center
{
	text-align:						center;
}

/**
 * Style and Colors
 */
